Q.1  What is python, and why is it popular?
 - python is a computer programming language. it`s popular because easy to understanding and uses in data science, data analycis and machine larning ect.

Q.2 What is an interpreter in python?
  - python is an interpreter language because it executes line by line instructions.

Q.3 What are pre-defined keywords in python?
 - keywords are reserved words that have predefined meanings and use in specific purposes in python.

Q.4 Can keywords be used as variable names?
 - No. keywords can`t be used as variable names.

Q.5 What is mutability in python?
- mutability in python means a data can be changed after creation. like lists, dictionaries.

Q.6 Why are lists mutable but tuples are immutable?
- lists are mutable because items in lists are modified or change but in case of tuples items are not modified ones it create.

Q.7 What is the difference between " == " and " is " operators in python?
 - "==" is equality operator. it compares the values of two objects and checks if the content or data held by the object is the same. it returns True if the values are equal, that means they are same object in memory.
   "is" is identity operator. it compares the identity of two objects. it checks if two variables are exact same object in memory location.

Q.8 What are logical operators in python?
- logical operators are boolean expressionas in python. that means it gives only True or False. there are three main logical operators. these are AND,OR, NOT operators.

Q.9 What is type casting in python?
- type casting in python means it change the datatype from one from of datatype to another datatype. like integer can converted into float by type casting.

Q.10 What is the difference between implicit and explicit type casting?
- implicit type casting also known as upcasting. in case of implicit type casting compiler automatically converts a datatype to a inclusive type. one the other hand explicit type casting also known as downcasting. it requires the programmer to use a cast operator to manually convert a datatype to a inclusive type.

Q.11 What is the purpose of conditional statement in python?
 - the purpose of conditional statement in python is to satisfied or executes a specific conditions.

Q.12 How does the elif statement work?
 - the elif statement is a conditional statement that allows to check multiple conditions sequentially. if its condition is true, its code block is executed and the rest of the elif and else blocks are skipped.

Q.13 What is the difference between for nad while loops?
 - the for loops are used to iterating are like over a sequence. but on the other hand while loop continues to execute its code block as long as a specified condition remains true.

Q.14 Describes a scenario where a while loop is more suitable than a for loop.
 - for loop is better when you want a code to run a certain number of times. but while loop better when the condition for the code to keep running until the meet.

In [ ]:
#Q.1 Write a python program to print "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
#Q.2 Write a python program that displays your name and age.
name = input("your name")
age = input("your age")
print(name,age)

your name Rakesh sah
your age 32
 Rakesh sah  32

In [ ]:
#Q.3 Write code to print all the pre-defined keywords in python using the keyword library.
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#Q.4 Write a program that checks if a given word is a python keyword.
import keyword
s = input("enter a word")
if keyword.iskeyword(s):
    print(f"{s} is a python keyword")
else:
    print(f"{s} is not a python keyword")

enter a wordfor
for is a python keyword

In [ ]:
#Q.5 Create a list and tuple in python and demonstrate how attempting to change an element works differently for each.
shop_bag = [1, 2, 3.4, "paper", 3 + 4j]
print(shop_bag)
type(shop_bag)

[1, 2, 3.4, 'paper', (3+4j)]

2

In [ ]:
shop_bag[2] = "rakesh"
shop_bag

[1, 2, 'rakesh', 'paper', (3+4j)]

In [ ]:
# change an element
s = (1, 3.4, "paper", 3 + 4j)
print(s)
type(s)

(1, 3.4, 'paper', (3+4j))

tuple

In [ ]:
# change an element in tuple gives an error
s[2] = "ajay"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Q.6 Write a function to demonstrate the behavior of mutable and immutable arguments.
students = ["rakesh", "roni", "rajib", "surjo"]
print(students)
students.append("ajay")
print(students) # to change the element >> mutable

['rakesh', 'roni', 'rajib', 'surjo']
['rakesh', 'roni', 'rajib', 'surjo', 'ajay']

In [ ]:
roll_no = (1, 12, 31, 47)
print(roll_no)
roll_no.append(5)
print(roll_no) # try to change the element but its not happend >> immutable

(1, 12, 31, 47)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#Q.7 Write a program that performs basic arithmatic operations on two user-input numbers.
num1 = int(input("enter a number"))
num2 = int(input("enter a number"))
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)

enter a number 45
enter a number 56
101
-11
2520

In [ ]:
#Q.8 Write a program to demonstrate the use of logical operations.
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
#Q.9 Write a python program to convert user input from string to integer, float and boolean types.
s = "50"
num = int(s)
print(num) # string converted to integer
type(num)

50

int

In [ ]:
num1 = float(s)
print(num1) # string converted to float
type(num1)

50.0

float

In [ ]:
str1 = "True"
str2 = "False"
bool1 = bool(str1)
bool2 = bool(str2)
print(bool1) # string converted to boolean
print(bool2)
type(bool1)

True
True

bool

In [ ]:
# Q.10 Write code to demonstrate type casting with list elements.
a = [1, 3 , 56, 20]
b = [5, 8, 24, 60]
c = [str(x) for x in a]
d = [str(y) for y in b]
print(c)
print(d)

['1', '3', '56', '20']
['5', '8', '24', '60']

In [17]:
#Q.11 Write a program that checks if a number is positive, negative or zero.
num = int(input("enter a number"))
if num > 0:
    print("positive")
elif num < 0:
    print("negative")
else:
    print("zero")

enter a number 45
positive

In [18]:
#Q.12 Write a for loop to print numbers from 1 to 10.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [35]:
#Q.13 Write a python program to find the sum of all even numbers between 1 and 50.
sum_of_even = 0
for i in range(1,51):
    if i % 2 == 0:
        sum_of_even += i
print(sum_of_even)

650

In [36]:
#Q.14 Write a program to reverse a string using a while loop.
s = input("enter a string")
reverse = ""
length = len(s)
while length > 0:
    reverse += s[length - 1]
    length -= 1
print(reverse)

enter a string rakesh
hsekar

In [40]:
#Q.15 Write a python program to calculate the factorial of a number provided by the user using a while loop.
s = 7
fact = 1 # initialisation with 1
while s > 0:
    fact *= s
    s -= 1
print(fact)

5040